/* src/styles/tokens.css */
:root {
  /* cores */
  --color-bg-preto: #0A0A0A;
  --color-bg-elevado: #1A1A1A;
  --color-border-default: #333333;
  --color-text-secundario: #CCCCCC;
  --color-text-primario: #FFFFFF;
  --color-brand-primaria: #8B0000;
  --color-brand-secundaria: #DC143C;
  --color-brand-destaque: #FF4444;

  /* fontes */
  --font-display: 'Space Grotesk', sans-serif;
  --font-body: 'IBM Plex Sans', sans-serif;
  --font-mono: 'IBM Plex Mono', monospace;

  /* fontes - tamanho */
  --font-size-caption: 0.875rem;  /* 14px */
  --font-size-body: 1.125rem;     /* 18px */
  --font-size-heading: 1.625rem;  /* 26px */
  --font-size-display: 2rem;      /* 32px */

  /* fontes - peso */
  --font-weight-light:300;
  --font-weight-regular:400;
  --font-weight-medium:500;
  --font-weight-semi-bold:600;
  --font-weight-bold:700;

  /* spacing (padding, margin, gap, width, height) */
  --space-2xs: 0.25rem;  /* 4px - gaps apertados, ex: ícone + texto */
  --space-xs: 0.5rem;    /* 8px */
  --space-sm: 1rem;      /* 16px */
  --space-md: 1.5rem;    /* 24px */
  --space-lg: 2rem;      /* 32px */
  --space-xl: 2.5rem;    /* 40px */
  --space-2xl: 3rem;     /* 48px */
  --space-3xl: 3.5rem;   /* 56px */
  --space-4xl: 4rem;     /* 64px */

  /* área mínima p/ botões */
  --touch-target-min: 44px;
}
